In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pwd

'/home/soumyajit-ipc/Documents/repo/student-alc-result'

In [ ]:
#columns
#schoolStudent's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
#sexStudent's sex (binary: 'F' - female or 'M' - male)
#ageStudent's age (numeric: from 15 to 22)
#addressStudent's home address type (binary: 'U' - urban or 'R' - rural)
#famsize Family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
#Pstatus Parent's cohabitation status (binary: 'T' - living together or 'A' - living apart)
#Medu Mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education, or 4 - higher education)
#Fedu Father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education, or 4 - higher education)
#Mjob Mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
#Fjob Father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
#reason Reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
#guardianStudent's guardian (nominal: 'mother', 'father' or 'other')
#traveltime Home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
#studytimeWeekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
#failures Number of past class failures (numeric: n if 1<=n<3, else 4)
#schoolsup Extra educational support (binary: yes or no)
#famsup Family educational support (binary: yes or no)
#paid Extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
#activities  Extra-curricular activities (binary: yes or no)
#nursery Attended nursery school (binary: yes or no)
#higher Wants to take higher education (binary: yes or no)
#internet Internet access at home (binary: yes or no)
#romantic With a romantic relationship (binary: yes or no)
#famrel Quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
#freetime Free time after school (numeric: from 1 - very low to 5 - very high)
#goout Going out with friends (numeric: from 1 - very low to 5 - very high)
#Dalc Workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
#Walc Weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
#healthCurrent health status (numeric: from 1 - very bad to 5 - very good)
#absencesNumber of school absences (numeric: from 0 to 93)
# G1 First period grade (numeric: from 0 to 20)
# G2 Second period grade (numeric: from 0 to 20)
# G3 Final grade (numeric: from 0 to 20, output target)

In [7]:
df=pd.read_csv('/home/soumyajit-ipc/Documents/repo/student-alc-result/student-mat.csv')
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [8]:
#droping the columns which are not important
df.drop('famsup',axis=1,inplace=True)
df.drop('Pstatus',axis=1,inplace=True)
df.drop('famrel',axis=1,inplace=True)

In [9]:
df.head(10)

,school,sex,age,address,famsize,Medu,Fedu,Mjob,Fjob,reason,...,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,4,4,at_home,teacher,course,...,no,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,1,1,at_home,other,course,...,no,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,1,1,at_home,other,other,...,no,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,4,2,health,services,home,...,yes,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,3,3,other,other,home,...,no,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,4,3,services,other,reputation,...,no,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,2,2,other,other,home,...,no,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,4,4,other,teacher,home,...,no,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,3,2,services,other,home,...,no,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,3,4,other,other,home,...,no,5,1,1,1,5,0,14,15,15

In [10]:
#list of columns
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Medu', 'Fedu', 'Mjob',
       'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures',
       'schoolsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences',
       'G1', 'G2', 'G3'],
      dtype='object')